"{{data.Name}}" : {
    "Type": "AWS::EC2::Subnet",
    "Properties": {
        "CidrBlock": "{{data.CidrBlock}}",
        "AvailabilityZone": "{{data.AvailabilityZone}}",
        "VpcId": {{data.VpcId|inline}},
        "Tags": [
            {% for tag in data.Tags %}
                {% if not loop.last %}
                    {"Key": "{{tag.Key}}", "Value": "{{tag.Value}}"},
                {% else %}
                    {"Key": "{{tag.Key}}", "Value": "{{tag.Value}}"}
                {% endif %}
            {% endfor %}
        ]
    }
}
