      "{{data.Name}}" : {
         "Type" : "AWS::EC2::SubnetRouteTableAssociation",
         "Properties" : {
            "SubnetId" : {{data.SubnetId|inline}},
            "RouteTableId" : {{data.RouteTableId|inline}}
         }
      }